<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LuaCSharp" version="0.5.3" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="MoonSharp" version="2.0.0" manuallyInstalled="true" />
  <package id="Zio" version="0.22.2" manuallyInstalled="true" />
</packages>